@use '../../../../styles/settings' as *;

.wizard {
  .panel-formwelcome {
    legend {
      display: none;
    }

    .panel-formwelcome__container {
      @include media('desktop') {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .panel-formwelcome__item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: $spacing-500;

        @include media('desktop') {
          margin-bottom: $spacing-600;
        }
      }
    }

    .panel-formwelcome__header {
      @include media('desktop') {
        max-width: 513px;
      }

      h2 {
        @include heading-level-3;
        margin-bottom: 32px;

        @include media('desktop') {
          @include heading-level-1;
        }
      }
    }

    .panel-formwelcome__item-image {
      width: 100%;
      max-width: 60px;
      order: 1;
    }

    .panel-formwelcome__content-container {
      @include media('desktop') {
        width: 100%;
        max-width: 511px;
      }
    }

    .panel-formwelcome__item-content {
      @include media('desktop') {
        max-width: 390px;
      }

      h3 {
        @include font-body-large;

        @include media('desktop') {
          @include heading-level-6;
        }
      }

      p {
        @include font-body-large;
      }
    }
  }
}
