@use '../../styles/settings' as *;

.form-panel-header {
  padding: $spacing-500 0;

  p:not(:last-child) {
    margin-bottom: $spacing-500;
  }

  @include media('desktop') {
    padding: $spacing-700 0;
  }
}

// Allow more spacing at the bottom
// So the content underneath the footer
// Can be scroll through
$content-bottom-spacing: $spacing-700 + $footer-height;
$content-bottom-spacing-desktop: $spacing-800 + $footer-height-desktop;

.form-panel-content {
  padding: 0 0 $content-bottom-spacing;

  @include media('desktop') {
    padding: 0 0 $content-bottom-spacing-desktop;
  }
}
