/* Tabs styling */
main .form fieldset.tabs legend{
    display: none;
}

main .form fieldset.tabs > fieldset.tab{
    display: none;
}

main .form fieldset.tabs > .navitems > li{
    display: none;
}
main .form fieldset.tabs > .navitems > li.navitem-current,
main .form fieldset.tabs > fieldset.tab.tab-current{
    display: block;
}
