.hlx/
coverage/
logs/
node_modules/

.project
.settings/

.project
.settings/*

helix-importer-ui
.DS_Store
*.bak
.idea
.nyc_output

.env*
!.env.example
.vscode
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
test/e2e/reports/
LoginAuth.json
.history/
assets/