.course {
    position: relative;

    .suggestions {
        border: 1px solid #ccc;
        border-top: none;
        max-height: 9.375rem;
        overflow-y: auto;
        background-color: #fff;
        position: absolute;
        width: 100%;
        z-index: 1000;
        bottom: -18px;
        left: 0;
    }

    .suggestion {
        padding: 10px;
        cursor: pointer;
    }

    .suggestion:hover {
        background-color: #f0f0f0;
    }
}