@use '../../../../styles/settings' as *;
@use '../../../../styles/base' as *;

.field-summary {
  padding: 64px 0;
  border-top: solid 2px #b0c4de;

  .edit {
    width: 56px;
    height: 26px;
    background-image: url('../../../../icons/icon-repeatable-panel-edit-blue.svg');
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    padding-left: 28px;
    text-decoration: underline;
    font-family: $font-family;
    font-size: $size-font-body-default;
    font-style: normal;
    font-weight: $font-weight-medium;
    line-height: 133%;
    letter-spacing: 0;
    color: $color-primary;

    &:hover,
    &:focus,
    &:visited {
      color: $color-primary-navy;
    }
  }

  .summary-entry,
  .item {
    padding-right: $spacing-600;

    &:not(:last-child) {
      padding-top: $spacing-600;
      padding-bottom: $spacing-600;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .summary-entry__language,
  .summary-entry__course,
  .summary-entry__title,
  .summary-entry__licenceClassTitle,
  .summary-entry__cb_english_proficiency {
    color: $text-dark-primary;
    font-family: $font-family;
    font-style: normal;
    line-height: 160%;
    font-size: $size-font-body-default;
  }

  .summary-entry__language,
  .summary-entry__course,
  .summary-entry__title,
  .summary-entry__licenceClassTitle {
    font-weight: 700;
    margin-bottom: $spacing-100;
  }

  .summary-entry__cb_english_proficiency {
    font-weight: $font-weight-regular;
  }

  .summary-entry__personal-summary {
    color: $text-dark-primary;
    font-family: $font-family;
    font-style: normal;
    line-height: 160%;
    font-size: $size-font-body-large;
    font-weight: $font-weight-regular;
    letter-spacing: 0;
    margin-bottom: $spacing-100;
  }

  .summary-entry__employmentDetails,
  .summary-entry__description,
  .summary-entry__summary,
  .summary-entry__days_you_can_work,
  .summary-entry__hours_you_can_work,
  .summary-entry__specific_days_cb,
  .summary-entry__proficiency,
  .summary-entry__licence-class {
    color: $text-dark-primary;
    font-family: $font-family;
    font-style: normal;
    font-size: $size-font-body-default;
    line-height: 160%;
    margin-top: $spacing-100;
    margin-bottom: $spacing-100;
  }

  .summary-entry:first-child,
  .item:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.field-summary-work-preferences {
    .p-small {
      color: $text-dark-primary;
    }
  }
}

.field-summary-personal-details {
  h2 {
    color: $color-primary-navy;
  }

  span {
    color: $text-dark-primary;
    font-family: $font-family;
    font-size: $size-font-body-default;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: 160%;
    vertical-align: middle;
  }

  .address i,
  .phone i,
  .email i {
    display: inline-block;
    width: $spacing-450;
    height: $spacing-450;
    margin-right: $spacing-200;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
  }

  .address i {
    background-image: url('../../../../icons/icon-x.svg');
  }

  .phone i {
    background-image: url('../../../../icons/icon-x.svg');
  }

  .email i {
    background-image: url('../../../../icons/icon-x.svg');
  }
}

.summary-entry {
  color: $text-dark-primary;
  font-family: $font-family;
  font-size: $size-font-body-large;
  font-style: normal;
  font-weight: $font-weight-regular;
  line-height: 160%;
  letter-spacing: 0px;

  &:not(:last-child):not(:only-child) {
    border-bottom: 1px solid $stroke-tertiary;
    padding-bottom: $spacing-300;
    margin-bottom: $spacing-300;
  }
}

.summary-entry__employmentDetails {
  margin-top: $spacing-100;
  margin-bottom: $spacing-100;
}
