@use '../../../../styles/settings' as *;


fieldset.field-datepicker {
    display: flex;

    &[data-required=true]>legend::after {
        content: "*";
        color: var(--form-error-color);
        padding-inline-start: 0.3125rem;
    }

    >.field-month,
    >.field-year {
        flex: 1;
    }
}