@use '../../../../styles/settings' as *;

.panel-validationsummary {
  .fieldname {
    font-weight: bold;
  }

  ul.error-container {
    list-style-type: none;
  }

  >.plain-text-wrapper {
    margin-left: $spacing-600;
  }
}