.account .button {
  font-size: 2rem;
  color: #333;
  font-optical-sizing: auto;
}
.account .button.is-busy,
.account .button[aria-disabled='true'],
.account .button[aria-busy='true'] {
  /* include busy for completeness */
  color: burlywood;
  opacity: 0.5;
  cursor: not-allowed;
}
