@use '../../../../styles/settings' as *;

main .form form .panel-repeatable-panel {
    .repeatable-entries {
        .repeatable-entry {
            padding: $spacing-400 $spacing-900 $spacing-400 $spacing-400;
            border: solid $color-secondary 1px;
            border-radius: $border-radius-large;
            position: relative;
            margin-bottom: $spacing-600;

            &__edit {
                position: absolute;
                top: $spacing-400;
                right: $spacing-400;
                width: 56px;
                height: 26px;
                background-image: url(./images/edit-icon.png);
                background-repeat: no-repeat;
                display: block;
                text-decoration: underline;
                padding-left: 28px;
                color: $text-primary;

                &:visited {
                    color: inherit;
                }
            }

            &__delete {
                position: absolute;
                top: ($spacing-400*2 + 26px);
                right: $spacing-400;
                width: 56px;
                height: 26px;
                background-repeat: no-repeat;
                display: block;
                text-decoration: underline;
                padding-left: 28px;
            }
        }
    }

    &__conditional {
        display: none;
    }

    .field-wrapper {
        color: $text-primary;
        margin-bottom: $spacing-500;
    }

    .field-label {
        margin-bottom: $spacing-300;
    }

    .item-remove {
        display: none !important;
    }

    &.editing {

        .item-add,
        .repeatable-entry__edit,
        .repeatable-entry__delete {
            display: none !important;
        }
    }

    [data-repeatable] {
        display: none;

        .button-bar {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        &.current {
            display: block;
        }
    }

}