.panel-repeatable-panel{
    background-color:aquamarine;
}

.panel-repeatable-panel [data-repeatable].saved{
    display: none;
}

.panel-repeatable-panel [data-repeatable]:not(.saved){
    display: block;
}

.panel-repeatable-panel .btn-save,
.panel-repeatable-panel .btn-cancel{
    display: none;
}

.panel-repeatable-panel [data-repeatable].current .btn-save,
.panel-repeatable-panel [data-repeatable].current .btn-cancel{
    display: block;
}

.panel-repeatable-panel.editing .item-add{
    display: none !important;
}

.panel-repeatable-panel .item-remove{
    display: none !important;
}