@use '../../../../styles/settings' as *;

main .form form {
    .repeatable-entries {
        .repeatable-entry {
            padding: $spacing-400 $spacing-900 $spacing-400 $spacing-400;
            border: solid $color-secondary 1px;
            border-radius: $border-radius-large;
            position: relative;
            margin-bottom: $spacing-600;

            &__edit {
                position: absolute;
                top: $spacing-400;
                right: $spacing-400;
                width: 56px;
                height: 26px;
                background-image: url(./images/edit-icon.png);
                background-repeat: no-repeat;
                display: block;
                text-decoration: underline;
                padding-left: 28px;
            }

            &__delete {
                position: absolute;
                top: ($spacing-400*2 + 26px);
                right: $spacing-400;
                width: 56px;
                height: 26px;
                background-repeat: no-repeat;
                display: block;
                text-decoration: underline;
                padding-left: 28px;
            }
        }
    }

    .repeatable-entry__edit {
        color: $text-primary;

        &:visited {
            color: inherit;
        }
    }
}

main .form form .panel-repeatable-panel {
    &__conditional {
        display: none;
    }

    .field-wrapper {
        color: $text-primary;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .field-label {
        margin-bottom: 12px;
    }

    .item-remove {
        display: none !important;
    }

    &.editing {
        .item-add {
            display: none !important;
        }
    }

    [data-repeatable].saved {
        display: none;
    }

    .btn-save,
    .btn-cancel {
        display: none;
    }

    [data-repeatable] .button-bar {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    [data-repeatable].current {
        display: block;

        .btn-save,
        .btn-cancel {
            display: block;
        }
    }
}