/* Full AEM form CSS content is stored here. */

/* Default checkbox state */
main .form form .checkbox-wrapper {
    display: flex;
    width: 188px;
    padding-right: var(--Spacing-Spacing-200, 8px);
    align-items: center;
    gap: var(--Spacing-Spacing-200, 8px);
    border-radius: var(--Corner-radius-Mid, 8px);
}

/* Checkbox hover state */
main .form form .checkbox-wrapper input[type='checkbox']:hover {
    color: var(--Text-Dark-Primary, #333);
    font-family: var(
        --Typography-Font-family-Primary-font,
        'Atkinson Hyperlegible Next'
    );
    font-size: var(--Typography-Sizes-Components-Label, 20px);
    font-style: normal;
    border-radius: var(--Corner-radius-Mid, 8px);
    border: var(--Stroke-weight-Input-stroke, 2px) solid
        var(--Stroke-Primary, #333);
    background: var(--Background-Light-Primary, #fff);
    font-weight: var(--Typography-Font-weight-Medium, 500);
    line-height: 24px; /* 120% */
    letter-spacing: var(--Typography-Spacing-Character-Default, 0px);
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}
