@use '../settings' as *;

.button {
  @extend %button;
}

.button--hollow {
  @extend %button;
  @extend %button--hollow;
}

.link {
  color: $color-primary;
  box-shadow: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    color: $color-primary-navy;
  }

  &:visited {
    color: $color-primary;

    &:hover,
    &:active {
      color: $color-primary-navy;
    }
  }

  &.small {
    font-size: 16px;
  }

  &.large {
    font-size: 20px;
  }
}
