@use '../settings' as *;

.cmp-form {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-Spacing-400);
    font-family: var(--Font-Family-Base);
    font-size: var(--Font-Size-Base);
    color: var(--Text-Primary);

    @include media('tablet') {
        gap: var(--Spacing-Spacing-300);
        font-size: 0.9375rem;
    }
}
