@use '../../../../styles/settings' as *;

.progress-bar {
  padding: $spacing-400;
  background-color: $color-shade-blue-25;
  height: 80px;
  width: 100%;
  z-index: 4;
  position: fixed;
  bottom: 210px;
}

.progress-bar--is-hidden {
  display: none;
}

.progress-bar__item {
  content: '';
  background-color: $color-primary;
  display: block;
  height: 40px;
}
