@use '../../../../styles/settings' as *;
@use '../../../../styles/settings/colors' as *;

/* ------------------------------
   Wizard Background – Dark
------------------------------ */
main.wizard--bg-dark {
  color: $text-white;

  .text-wrapper,
  .number-wrapper,
  .email-wrapper,
  .radio-wrapper {
    label,
    .field-label {
      color: $color-white;
    }

    input,
    textarea {
      color: $color-white;

      &::placeholder {
        color: rgba($color-white, 0.75);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .subtitle {
    color: $color-white;
    background: none;
    -webkit-text-fill-color: $color-white;
    background-clip: unset;
    -webkit-background-clip: unset;
  }
}

/* ------------------------------
   Wizard Background – Light
------------------------------ */
main.wizard--bg-light {
  color: $text-dark-primary;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-primary;
    font-family: $font-family;
    margin-bottom: $spacing-600;

    &:last-child:not(:first-child) {
      margin-bottom: 0;
    }

    background: $color-gradient-blue;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p,
  .subtitle,
  .straptitle {
    color: $text-secondary;
    font-family: $font-family;
    font-size: 1rem;
    line-height: 1.6;
  }
}
