@use '../../../../styles/settings' as *;

.wizard--bg-dark {
  .wizard {
    background: linear-gradient(
      135deg,
      $color-accent 25%,
      $color-primary-navy 100%
    );
  }
}

.wizard--bg-mid {
  .wizard {
    background: linear-gradient(
      135deg,
      $color-shade-blue-10 25%,
      $color-shade-blue-25 100%
    );
  }
}

.wizard--bg-light {
  .wizard {
    background: $color-shade-blue-04;
  }
}

.wizard {
  padding-top: $spacing-600;
  min-height: calc(100rem - $nav-height - $footer-height);
  height: 100%;
  background: linear-gradient(
    135deg,
    $color-accent 25%,
    $color-primary-navy 100%
  );
@include media('tablet') {
    padding-top: $spacing-700;
  }

  .field-save-changes {
    display: none;
    margin-left: auto;
  }

  &.from-review {
    .field-save-changes {
      display: block;
    }

    .wizard-button-prev,
    .wizard-button-next {
      display: none;
    }
  }

  .current-wizard-step {
    padding-bottom: 120px;

    @include media('tablet') {
      @media (min-height: 921px) {
        min-height: calc(100rem - $nav-height - $footer-height);
        height: 100%;
      }
    }
  }

  // .wizard-menu-items {
  //   display: flex;
  //   gap: 50px;
  //   flex-wrap: wrap;
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   font-weight: var(--form-fieldset-legend-font-weight);
  //   font-size: var(--form-fieldset-legend-font-size);
  //   color: var(--form-fieldset-legend-color);
  //   padding-bottom: var(--form-wizard-padding);
  //   grid-column: span 12;
  // }

  // .wizard-menu-item {
  //   counter-increment: wizard-step-counter;

  //   &::before {
  //     content: counter(wizard-step-counter);
  //     border: 2px solid var(--form-wizard-number-color);
  //     color: var(--form-wizard-number-color);
  //     border-radius: 50%;
  //     width: 35px;
  //     height: 35px;
  //     margin-right: 10px;
  //     text-align: center;
  //     line-height: 2;
  //     display: inline-block;
  //   }
  // }

  // .wizard-menu-active-item::before {
  //   border: 2px solid var(--form-wizard-number-color);
  //   background: var(--form-wizard-number-color);
  //   color: var(--background-color-primary);
  //   font-weight: 600;
  // }

  &.left {
    display: flex;

    .wizard-menu-items {
      flex-direction: column;
      width: 300px;
    }
  }

  > legend.field-label,
  .wizard-menu-items {
    display: none;
  }

  > .current-wizard-step.panel-wrapper:first-of-type
    ~ .wizard-button-wrapper
    > .wizard-button-prev,
  > .current-wizard-step.panel-wrapper:last-of-type
    ~ .wizard-button-wrapper
    > .wizard-button-next {
    display: none;
  }

  > fieldset > legend {
    display: none;
  }

  > fieldset:not(.current-wizard-step) {
    display: none;
  }

  .wizard-button-wrapper .field-wrapper {
    flex: unset;
  }
}
