@use '../../../../styles/settings' as *;
@use 'wizard-theme';
@use 'wizard-intro';

.wizard {
  min-height: $wizard-body-height;
  height: 100%;
  position: relative;
  z-index: 1; // needed for background

  @include media('tablet') {
    min-height: $wizard-body-height-tablet;
  }

  @include media('desktop') {
    min-height: $wizard-body-height-desktop;
  }

  .field-save-changes {
    display: none;
    margin-left: auto;
  }

  &.from-review {
    .field-save-changes {
      display: block;
    }

    .wizard-button-prev,
    .wizard-button-next {
      display: none;
    }
  }

  &.left {
    display: flex;

    .wizard-menu-items {
      flex-direction: column;
      width: 300px;
    }
  }

  > legend.field-label,
  .wizard-menu-items {
    display: none;
  }

  > .current-wizard-step.panel-wrapper:first-of-type
    ~ .wizard-button-wrapper
    > .wizard-button-prev,
  > .current-wizard-step.panel-wrapper:last-of-type
    ~ .wizard-button-wrapper
    > .wizard-button-next {
    display: none;
  }

  > fieldset > legend {
    display: none;
  }

  > fieldset:not(.current-wizard-step) {
    display: none;
  }

  .wizard-button-wrapper .field-wrapper {
    flex: unset;
  }
}
