@use '../../../../styles/settings' as *;

/* -----------------------------
   Job Search Results Panel
----------------------------- */

.field-job-search-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 0 0;
  gap: var(--Spacing-Spacing-400, 16px);
  padding: var(--Spacing-Spacing-600, 32px);

  border-radius: 24px 0 48px 0;
  background: linear-gradient(
                  135deg,
                  var(--Shades-Blues-Blue-04, #F5FAFD) 25%,
                  var(--Shades-Blues-Blue-15, #D9EBF7) 100%
  );

  // Elevation-2
  box-shadow: var(--Elevation-Position-X-Level-2, 0)
  var(--Elevation-Position-Y-Level-2, 4px)
  var(--Elevation-Blur-Level-2, 8px)
  var(--Elevation-Spread-Level-2, 0)
  rgba(22, 44, 69, 0.20);
}
