/// min-width are widely supported all the way back
/// to browser released on 2010
@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
    'tablet': (
        min-width: 768px,
    ),
    'tablet-large': (
        min-width: 1024px,
    ),
    'desktop': (
        min-width: 1200px,
    ),
) !default;

@mixin media($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media #{meta.inspect(map.get($breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
