/*************************
      Main colour
*************************/
// Brand Colours

// Primary Colours
$color-primary: #017ac9; // MSD Blue

// Primary Supporting
$color-primary-navy: #134276; // MSD Navy
$color-primary-dark-navy: #162c45; // MSD Dark Navy

// Secondary Colours
$color-secondary-teal: #35c0ba; // MSD Teal
$color-secondary-accessible-teal: #23807b; // Accessible Teal
$color-secondary-salmon: #f75c58; // MSD Salmon
$color-secondary-purple: #3a54a1; // MSD Purple

// Tertiary Colours
$color-tertiary-green: #06b271; // MSD Green
$color-tertiary-green-light: #e0f0de; // MSD Green light
$color-tertiary-grey: #696969; // MSD Grey

// Focus State
/* $color-focus-state: #b53cde;**/  //Removed for now RW

// Neutral Colours
$color-grey-black-05: #f2f2f2;
$color-grey-black-10: #dddddd;
$color-grey-black-20: #cccccc;
$color-grey-black-40: #999999;
$color-grey-black-60: #666666;
$color-grey-black-80: #333333;
$color-grey-black-100: #000000;
$color-white: #ffffff;

// Feedback Colours
$color-feedback-green: #388314;
$color-feedback-orange: #fa7f14;
$color-feedback-red: #d03633;
$color-feedback-pink: #b53cde;

// Shades Navy
$color-shade-navy-60: #718ead;
$color-shade-navy-45: #95aac1;
$color-shade-navy-40: #a1b3c8;
$color-shade-navy-30: #b8c6d6;
$color-shade-navy-20: #d0d9e4;

// Shades Blue
$color-shade-blue-60: #67afdf;
$color-shade-blue-40: #99cae9;
$color-shade-blue-25: #bfdef1;
$color-shade-blue-10: #e6f2fa;
$color-shade-blue-04: #f5fafd;

// To animate button background colour
$color-primary-animated: linear-gradient(
  0,
  $color-primary 25%,
  $color-primary 100%
);

// Gradient
$color-gradient-blue: linear-gradient(
  135deg,
  $color-primary 25%,
  $color-primary-navy 100%
);

$color-gradient-green: linear-gradient(
  135deg,
  $color-secondary-teal 25%,
  $color-secondary-accessible-teal 100%
);

$color-gradient-light: linear-gradient(
  135deg,
  $color-grey-black-20 25%,
  $color-grey-black-40 100%
);

$color-gradient-grey-dark: linear-gradient(
  135deg,
  $color-grey-black-60 25%,
  $color-grey-black-80 100%
);

// H1-h3 Gradient

$color-gradient-blue: linear-gradient(
                135deg,
                $color-primary 25%,
                $color-primary-navy 100%
);

/************************
      Semantic use
*************************/
/* UI Text */
$text-accent: $color-primary;
$text-dark: $color-primary-navy;
$text-primary: $color-grey-black-80;
$text-secondary: $color-grey-black-60;
$text-white: $color-white;
$text-error: $color-feedback-red;
$text-success: $color-feedback-green;

/* UI Background */
$bg-accent: $color-primary;
$bg-dark: $color-primary-navy;
$bg-primary: $color-white;
$bg-secondary: $color-grey-black-05;
$bg-tertiary: $color-grey-black-10;
$bg-error: $color-feedback-red;
$bg-success: $color-feedback-green;
$bg-warning: $color-feedback-orange;

/* Token-based background */
$bg-light-secondary: var(--Background-Light-Secondary, #f5fafd); // RW

/* UI Icons */
$icon-accent: $color-primary;
$icon-dark: $color-primary-navy;
$icon-primary: $color-grey-black-80;
$icon-secondary: $color-grey-black-60;
$icon-light: $color-white;
$icon-error: $color-feedback-red;
$icon-success: $color-feedback-green;
$icon-warning: $color-feedback-orange;

/* UI Stroke */
$stroke-accent: $color-primary;
$stroke-primary: $color-grey-black-80;
$stroke-secondary: $color-grey-black-60;
$stroke-tertiary: $color-shade-navy-40;
$stroke-dark: $color-primary-navy;
$stroke-error: $color-feedback-red;
$stroke-focus: $color-feedback-pink;
