/*
    Typography settings and mixin
    Refer to this file from your component
    To leverage typography properties and
    Pre-defined mixins
*/
@use './breakpoints' as *;
@use './mixins' as *;

$font-family: 'Atkinson Hyperlegible Next', sans-serif;
$size-font-base: 16px;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Letter Spacing
$letter-spacing-default: 0px;

/* Headings */
$size-font-h1: clamp(40px, 5.5vw, 60px);   // 40 → 48 → 60
$size-font-h2: clamp(36px, 5vw, 48px);     // 36 → 40 → 48
$size-font-h3: clamp(32px, 4.5vw, 40px);   // 32 → 36 → 40
$size-font-h4: clamp(24px, 3.5vw, 32px);   // 24 → 28 → 32
$size-font-h5: clamp(20px, 2.75vw, 24px);  // 20 → 22 → 24
$size-font-h6: clamp(18px, 2.25vw, 20px);  // 18 → 19 → 20

// Subtitle
$size-font-subtitle: clamp(24px, 4vw, 32px); // 24 → 28 → 32

// Strap Titles
$size-font-strap-title: clamp(20px, 2.8vw, 24px);      // 20 → 22 → 24
$size-font-strap-title-small: clamp(14px, 2.2vw, 16px); // 14 → 15 → 16

// Body Text
$size-font-body-large:   clamp(17px, 1.5vw, 20px); // 17 → 18 → 20
$size-font-body-default: clamp(15px, 1.25vw, 17px); // 15 → 16 → 17
$size-font-body-small:   clamp(12px, 1.1vw, 14px); // 12 → 13 → 14

// Mixins
@mixin heading-level-1 {
  font-size: $size-font-h1;
  line-height: 105%;
}

@mixin heading-level-2 {
  font-size: $size-font-h2;
  line-height: 110%;
}

@mixin heading-level-3 {
  font-size: $size-font-h3;
  line-height: 115%;
}

@mixin heading-level-4 {
  font-size: $size-font-h4;
  line-height: 120%;
}

@mixin heading-level-5 {
  font-size: $size-font-h5;
  line-height: 125%;
}

@mixin heading-level-6 {
  font-size: $size-font-h6;
  line-height: 130%;
}

@mixin font-body-default {
  font-size: $size-font-body-default;
  line-height: 160%;
}

@mixin font-body-small {
  font-size: $size-font-body-small;
  line-height: 160%;
}

@mixin font-body-large {
  font-size: $size-font-body-large;
  line-height: 160%;
}

@mixin font-link-small {
  font-size: $size-font-body-small;
  line-height: 160%;
  text-decoration: underline;
}

@mixin font-link-default {
  font-size: $size-font-body-default;
  line-height: 160%;
  text-decoration: underline;
}

@mixin font-link-large {
  font-size: $size-font-body-default;
  line-height: 160%;
  text-decoration: underline;
}

// Form Inputs and Buttons
$size-font-button-default: clamp(18px, 1.25vw, 20px);
$size-font-button-small: clamp(16px, 1.1vw, 18px); // need to check RW
$size-font-error-link: clamp(15px, 1.1vw, 18px); // same as base font size
$size-font-error-message: clamp(12px, 1vw, 14px); // small paragraph size
$size-font-hint: clamp(15px, 1.1vw, 18px); // same as base font size
$size-font-input-text: clamp(18px, 1.25vw, 20px);
$size-font-label: clamp(18px, 1.25vw, 20px);

// form hero
/*main.wizard--bg-dark p.p-large {
  font-size: clamp(15px, 1.25vw, 17px); // 15 → 16 → 17
}

main.wizard--bg-dark p.subtitle {
  font-size: clamp(24px, 4vw, 32px); // 24 → 28 → 32
  font-style: normal;
}*/