@use 'borders' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@use 'elevations' as *;
@use 'fonts' as *;
@use 'spacings' as *;
@use 'utils' as *;

/******************************
  Shared Placeholder Selectors
*******************************/

/* Base Input Styling (for text, number, email, textarea) */
%input-base {
  border-radius: $border-radius-mid;
  border: $stroke-input-stroke solid $stroke-tertiary;
  padding: $spacing-400;
  background-color: $bg-light-primary;
  font-family: $font-family;
  font-size: 20px;
  line-height: 120%;
  color: $text-primary;
  caret-color: $color-primary;

  &::placeholder {
    color: $text-secondary;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    border-color: $stroke-accent;
    background-color: $color-shade-blue-10;
    outline: none;
  }

  &:disabled {
    border-color: $color-grey-black-20;
    background-color: $color-grey-black-05;
    color: $text-secondary;
    cursor: not-allowed;

    &::placeholder {
      color: $text-secondary;
    }
  }
}

/******************************
  Button Placeholders
*******************************/

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-400 $spacing-500;
  font-family: $font-family;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  border-radius: $border-radius-round;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Primary Button */
%button--primary {
  @extend %button;
  background-color: $color-primary;
  color: $color-white;
  border: 2px solid $stroke-accent;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    background-color: $color-primary-darker;
  }

  &:disabled {
    background-color: $color-grey-black-10;
    color: $color-grey-black-40;
    cursor: not-allowed;
  }
}

/* Hollow (Outline) Button */
%button--hollow {
  @extend %button;
  background-color: transparent;
  color: $text-dark-primary;
  border: 2px solid $stroke-tertiary;

  &:hover {
    background-color: $color-shade-blue-10;
  }

  &:active {
    background-color: $color-shade-blue-25;
  }

  &:disabled {
    color: $color-grey-black-40;
    border-color: $color-grey-black-20;
    cursor: not-allowed;
  }
}

%state-focus {
  &:focus {
    box-shadow: 0 0 0 2px $color-white; /*0 0 0 4px $color-focus-state;*/
    outline: 3px solid transparent;
  }

  &:active:focus {
    box-shadow: none;
    outline: none;
  }
}

%label-common-style {
  @extend %state-focus;
  color: $text-secondary;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/******************************
  Error State
*******************************/

/* Input Error State */
@mixin input-error {
  border: $stroke-input-stroke solid $color-feedback-red;
  background-color: $bg-light-primary;
  color: $color-feedback-red;

  &::placeholder {
    color: $color-feedback-red;
  }
}

@mixin heading-default($color) {
  font-size: $size-font-h4;
  font-weight: $font-weight-bold;
  line-height: 130%;
  color: $color;
}
