@use 'colors' as *;
@use 'spacings' as *;
@use 'fonts' as *;
// Add other settings files here if needed

/******************************
   Input Base
*******************************/
%input-base {
  border-radius: $border-radius-mid;
  border: $stroke-input-stroke solid $stroke-tertiary;
  padding: $spacing-400;
  background: $bg-light-primary;
  font-family: $font-family;
  font-size: 20px;
  line-height: 120%;
  caret-color: $color-primary;
  color: $text-primary;

  &::placeholder {
    color: $text-secondary;
  }

  &:focus-visible,
  &:focus,
  &:active,
  &:hover {
    border-color: $stroke-accent;
    background: $color-shade-blue-10;
    outline: none;
  }

  &:disabled {
    border-color: $color-grey-black-20;
    background: $color-grey-black-05;
    color: $text-secondary;
    cursor: not-allowed;

    &::placeholder {
      color: $text-secondary;
    }
  }
}

/******************************
   Error Input State
*******************************/
@mixin input-error {
  border: $stroke-input-stroke solid $color-feedback-red;
  background: $bg-light-primary;
  color: $color-feedback-red;

  &::placeholder {
    color: $color-feedback-red;
  }
}

/******************************
   Button Placeholders
*******************************/
%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $border-radius-mid;
  font-size: 16px;
  padding: $spacing-300 $spacing-500;
  cursor: pointer;
  font-weight: 600;
  font-family: $font-family;
}

%button--primary {
  @extend %button;
  background-color: $color-accent;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: darken($color-accent, 10%);
  }

  &:disabled {
    background-color: $color-grey-black-20;
    cursor: not-allowed;
  }
}

%button--hollow {
  @extend %button;
  background-color: transparent;
  border: 2px solid $color-accent;
  color: $color-accent;

  &:hover,
  &:focus {
    background-color: rgba($color-accent, 0.1);
  }

  &:disabled {
    border-color: $color-grey-black-20;
    color: $color-grey-black-20;
    cursor: not-allowed;
  }
}