@use '../settings/borders' as *;
@use '../settings/colors' as *;

%state-focus {
  &:focus {
    box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-focus-state;
    outline: 3px solid transparent;
    border-radius: $border-radius-mid;
  }

  &:active:focus {
    box-shadow: none;
    outline: none;
  }
}
