@use '../settings/spacings' as *;
@use '../settings/fonts' as *;
@use '../settings/colors' as *;

// Temporary styles so the form is not full width - need to fix RW
.form-wrapper {
  padding: 7.5rem 5rem;
  width: 61.25rem;
  margin: 0 auto;
}

.default-content-wrapper,
.form-wrapper {
  padding: $spacing-600 $spacing-400;
  font-family: $font-family;
  font-size: $size-font-base;
  color: $text-primary;
}
