@use '../../../../styles/settings' as *;

.wizard {
  .panel-formhero {
    legend{
      display: none;
    }
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    @include media('desktop') {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }
  }

  .panel-formhero__picture {
    width: 100%;
    max-width: 160px;
    margin-bottom: $spacing-600;

    @include media('desktop') {
      max-width: 240px;
    }
  }

  .panel-formhero__content {
    order: 1;
    text-align: left;

    // 👇 Universal color style for all headings + text
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    .strap-title,
    .strap-title-small,
    .subtitle {
      /*color: #ffffff;*/
    }

    h2 {
      @include heading-level-1;
      margin-top: 0;
      margin-bottom: $spacing-500;
    }

    p {
      @include font-body-large;
      margin-bottom: 12px;
    }

    @include media('desktop') {
      order: 0;
      width: 36rem;
    }
  }
}
