/* buttons.css */

/* Large Primary Button */
.button.primary {
    display: inline-block;
    font-family: var(--font-base);
    font-size: clamp(1.125rem, 1.5vw, 1.25rem);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;

    padding: 0.75rem 1.5rem;
    min-height: 56px;
    border-radius: 9999px;

    background-color: var(--color-primary-dark);
    color: #fff;

    border: none;
    cursor: pointer;
    transition: background-color 0.25s ease, box-shadow 0.2s ease,
        transform 0.1s ease;
}

.button.primary:hover {
    box-shadow: var(--elevation-2);
    transition: background-color 0.25s ease, box-shadow 0.25s ease,
        transform 0.1s ease;
}

.button.primary:focus {
    outline: none;
    box-shadow: var(--elevation-2);
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.button.primary:active {
    background-color: var(--color-primary-darker);
    box-shadow: var(--elevation-1);
    transform: scale(0.98);
}
.button.primary:disabled {
    background-color: var(--color-primary-dark);
    color: var(--color-text-disabled);
    cursor: not-allowed;
    box-shadow: none;
}

/* Small Primary Button */
.button.primary.button--small {
    font-size: var(--font-size-button-default);
    padding: 0.625rem 1.25rem;
    min-height: 44px;
    box-shadow: none;
}


/* Secondary Button: Large */
.button.secondary {
  display: inline-block;
  font-family: var(--font-base);
  font-size: var(--font-size-button-default);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;

  padding: var(--space-400) var(--space-600); /* 16px top/bottom, 24px left/right */
  min-height: 56px;
  border-radius: 9999px;

  background-color: white;
  color: var(--color-text-secondary); /* e.g., #333 */
  border: var(--stroke-button) solid var(--color-stroke-primary);

  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

/* Hover State */
.button.secondary:hover {
  background-color: var(--color-background-light-primary); /* light fill */
  box-shadow: var(--elevation-2);
  color: var(--color-text-primary);
}

/* Focus State */
.button.secondary:focus {
  outline: none;
  box-shadow: var(--elevation-2);
  transition:
