:root {
    /* Colors */
    --background-color: white;
    --light-color: #f8f8f8;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;

    /* Fonts */
    --font-family-primary: "Atkinson Hyperlegible", sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --color-text: #333;
    --line-height-base: 1.5;

    /* Sizes */
    --nav-height: 64px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    line-height: 1.25;
    scroll-margin: 40px;
}

/* Responsive font sizes */
@media (min-width: 900px) {
    :root {
        --body-font-size-m: 18px;
        --body-font-size-s: 16px;
        --body-font-size-xs: 14px;

        --heading-font-size-xxl: 45px;
        --heading-font-size-xl: 36px;
        --heading-font-size-l: 28px;
        --heading-font-size-m: 22px;
        --heading-font-size-s: 20px;
        --heading-font-size-xs: 18px;
    }
}

/* Add the rest of your CSS... */
