:root {
  /* Base Colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --color-text: #333;
  --line-height-base: 1.5;

  /* === BRAND COLOURS === */
  --color-primary: #017AC9; /* MSD Blue */
  --color-primary-navy: #134276;
  --color-primary-dark-navy: #162C45;

  --color-secondary-teal: #35C0BA;
  --color-accessible-teal: #23807B;
  --color-salmon: #F75C58;
  --color-purple: #3A54A1;

  --color-green: #06B271;
  --color-green-light: #E0F0DE;
  --color-grey: #696969;

  /* === UI USAGE COLORS === */

  /* Text */
  --text-accent: #017AC9;         /* Brand MSD Blue */
  --text-dark: #134276;           /* Brand MSD Navy */
  --text-primary: #1f1f1f;        /* Black-80 */
  --text-secondary: #666666;      /* Black-60 */
  --text-white: #f0f0f0;          /* Light grey for dark bg */
  --text-error: #C94040;          /* Feedback Red */
  --text-success: #3C7A2E;        /* Feedback Green */

  /* Background */
  --bg-accent: #017AC9;
  --bg-dark: #134276;
  --bg-primary: #ffffff;          /* White */
  --bg-secondary: #f4f4f4;        /* Black-05 */
  --bg-tertiary: #e0e0e0;         /* Black-10 */
  --bg-error: #C94040;
  --bg-success: #3C7A2E;
  --bg-warning: #F7922B;

  /* Icon */
  --icon-accent: #017AC9;
  --icon-dark: #134276;
  --icon-primary: #1f1f1f;        /* Black-80 */
  --icon-secondary: #666666;      /* Black-60 */
  --icon-light: #f0f0f0;          /* Light icon on dark bg */
  --icon-error: #C94040;
  --icon-success: #3C7A2E;
  --icon-warning: #F7922B;

  /* Stroke */
  --stroke-accent
