@use "../../styles/settings" as *;

.link-ith-icon a {
  color: $color-shade-blue-40;
  text-align: left;
  font-family: $font-family;
  font-size: $size-font-body-default;
  font-style: normal;
  font-weight: $font-weight-medium;
  line-height: 133%;
  letter-spacing: $letter-spacing-default;
}

.link-ith-icon * {
  text-align: left;
}

.link-ith-icon img {
  display: block;
  margin: 0;
  text-align: left;
}

.link-ith-icon img,
.link-ith-icon picture,
.link-ith-icon picture > img,
.link-ith-icon .columns-img-col,
.link-ith-icon .columns-img-col picture,
.link-ith-icon .columns-img-col picture > img {
  display: block;
  margin: 0;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.link-with-icon {
  display: flex;
  align-items: center;
  gap: 0;

  &.icon--right {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 19px;
    color: pink;

    > div:first-child {
      order: 2;
      margin-left: $spacing-200;
      margin-right: 0;
    }

    > div:last-child {
      order: 1;
    }

    .button-container {
      text-align: left;

      a.button {
        text-align: left;
        padding-left: 0;
        margin-left: 0;
        display: inline-block;
      }
    }
  }

  > div {
    margin: 0;
    padding: 0;

    picture,
    img {
      display: block;
      width: 24px;
      height: auto;
    }
  }

  a,
  .button-container a.button {
    font-size: clamp(12px, 1.1vw, 14px);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.large {
    a,
    .button-container a.button {
      font-size: clamp(14px, 2.2vw, 16px);

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
