/*
    Based style applied directly to the elements
    Overide this element inside the component
    If necessary
*/
@use '../settings' as *;

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  color: $text-color;
}

ul {
  margin: 0;
  padding: 0;
}

picture {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  text-align: left;
  padding: 0.75em 1em;
  border: 1px solid $grey-black-20;
}

th {
  background-color: $grey-black-05;
  font-weight: $font-weight-bold;
}

tr:nth-child(even) td {
  background-color: $grey-black-05;
}
