/*
    Based style applied directly to the elements
    Overide this element inside the component
    If necessary
*/
@use '../settings' as *;

* {
  box-sizing: border-box;
}

html {
  font-size: $size-font-base;
}

body {
  font-family: $font-family;
  font-weight: 400;
  color: $text-primary;
  margin: 0;
}

ol,
ul {
  padding-left: $spacing-600;
  margin-bottom: $spacing-400;

  li {
    font-size: $size-font-base;
    line-height: 1.6;
    margin-bottom: $spacing-200;

    &::marker {
      color: $stroke-tertiary;
    }
  }
}

picture {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  text-align: left;
  padding: 0.75em 1em;
  border: 1px solid $color-grey-black-20;
}

th {
  background-color: $color-grey-black-05;
  font-weight: 700;
}

tr:nth-child(even) td {
  background-color: $color-grey-black-05;
}

img,
picture {
  width: 100%;
}

a,
button {
  @extend %state-focus;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;

  &:focus {
    border-radius: $border-radius-round;
  }
}

a {
  font-size: 1rem;
  color: $color-grey-black-80;
  box-shadow: none;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    color: $color-primary-navy;
  }

  &:visited {
    color: $color-grey-black-80;

    &:hover,
    &:active {
      color: $color-primary-navy;
    }
  }
}

button {
  border: 0;
  background: none;
}
