@use '../settings/colors' as *;
@use '../settings/fonts' as *;
@use '../settings/spacings' as *;

/*
    Based style applied directly to the elements
    Overide this element inside the component
    If necessary
*/
@use '../settings' as *;

* {
  box-sizing: border-box;
}

html {
  font-size: $size-font-base;
}

body {
  font-family: $font-family;
  font-weight: 400;
  color: $text-primary;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  padding-bottom: 85px; // Reserve space for the footer
  box-sizing: border-box;
}

ol,
ul {
  padding-left: $spacing-600;
  margin-bottom: $spacing-400;

  li {
    font-size: $size-font-base;
    line-height: 1.6;
    margin-bottom: $spacing-100; // Requested change 2729

    &::marker {
      color: $color-grey-black-80;
    }
  }
}

picture {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th,
td {
  text-align: left;
  padding: 0.75em 1em;
  border: 1px solid $color-grey-black-20;
}

th {
  background-color: $color-grey-black-05;
  font-weight: 700;
}

tr:nth-child(even) td {
  background-color: $color-grey-black-05;
}

img,
picture {
  width: 100%;
}

button {
  border: 0;
  background: none;
}
