@use '../settings' as *;
// TODO: as this grew bigger, could potentially break up into it's own file
// IE: _checkboxes.scss, _radios.scss

// Default style
label,
input[type='text'],
input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

fieldset {
  border: 0;
}

// Not sure what is this
.cmp-form {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-Spacing-400);
  font-family: var(--Font-Family-Base);
  font-size: var(--Font-Size-Base);
  color: var(--Text-Primary);

  @include media('tablet') {
    gap: var(--Spacing-Spacing-300);
    font-size: 0.9375rem;
  }
}

// Input field
// Input fields (text and number wrappers)
.text-wrapper,
.number-wrapper {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: $text-secondary;
  }

  input[type='text'],
  input[type='number'] {
    display: flex;
    padding: $spacing-400;
    align-items: center;
    gap: $spacing-200;
    align-self: stretch;
    border-radius: $border-radius-mid;
    border: 2px solid $stroke-tertiary;
    background: $bg-light-secondary;
    font-family: $font-family;
    font-size: 20px;
    line-height: 120%;
    caret-color: $color-primary;

    &::placeholder {
      color: $text-secondary;
    }

    &:focus-visible,
    &:focus,
    &:active,
    &:hover {
      border-color: $stroke-accent;
      outline: $stroke-accent;
    }
  }
}

%label-common-style {
  @extend %state-focus;
  color: $text-secondary;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-right: $spacing-200;
    display: block;
    width: 26px;
    height: 26px;
    border: 2px solid $color-shade-navy-45;
  }

  &::before {
    border-radius: $border-radius-mid;
  }

  &:hover {
    color: $text-primary;

    &::before {
      border: 2px solid $stroke-accent;
    }
  }
}

/********************
        CHECKBOX
********************/
.checkbox-wrapper {
  display: flex;
  align-items: center;

  label {
    @extend %label-common-style;

    &::before {
      background-image: none;
      transition: all 0.1s ease-in-out;
    }
  }

  input[type='checkbox'] {
    @extend %visually-hidden;

    &:checked {
      + label {
        color: $text-primary;

        &::before {
          border: 2px solid $stroke-accent;
          background-color: $color-primary;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIzSURBVHgBvZYxaBNhFMffe+ldqlMKghZBbyoGBFO36GLqpkOKq4JQdBMqTiJC7sDBrRZXBxc3LengaOwiVYR6iyg45BAqDkKDU9uY7/m9Lyam6V1yae76H5Lvu+9xP957/7t7CH2aePjxkmIoM6t5vXXgQEIfEXxltTxwi8Gek+7K/ZSjZrPCzHchQSHiE2VZGjzb+A/UMNxtvgXgAqQi9Nm2SgIl2Upm6cFEXGgzJEN33cFdqsMhiEmViJqZCiQsJ2eHXieVmSdOuJTOlA2123moXD6570yzyqR/EwXWbuV1hlm4OXss7NghSFBLV08ZWLC1A3PPvobGJAaUEi5eOGHWC6/qEDR2IDVgYfoIVObaPfPebMJa/Xdk7NhAMcnKjRmzXn73E7za5sD4SGBuMgNxtHJ9pts3r/ZjaHwoUPqxceds5PPUkZikMH20a5LG9h8YGSiZlfNTulTZfxYPhy5ePN41yb3X3yNNMhTY2G7BtRffzA2ioNK3pSunzVpMUv2yBXEVWtJOicKg5k2i96LnG7+GmiQWcBC01yRSylGF+OADDwpow84YiJgiNzlh/s8//Ry7b70a+hz2Ziow0cLL+oFgsYD90FFN0i9d0vf644tOnGApr8DHkE96qFmNGz0mTI8X6JMirsIhSamWR/CouIbAy5CyWBiPi4ExjbKzrs7Xh9SEPggDOi7V8yJbdimNTCWzzkxq0Psi7q87hOQywbkx5p1AG2RVUasqLes9+Avpc/A3WvIBkQAAAABJRU5ErkJggg==');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

/********************
        RADIO
********************/

.radio-group-wrapper {
  display: flex;
}

.radio-wrapper {
  display: flex;

  label {
    @extend %label-common-style;
    position: relative;

    &:focus,
    &::before,
    &::after {
      border-radius: $border-radius-round;
    }
  }

  input {
    @extend %visually-hidden;

    &:checked {
      + label {
        color: $text-primary;

        &::before {
          border-color: $stroke-accent;
        }

        &::after {
          display: block;
          content: '';
          position: absolute;
          left: 1px;
          top: 1px;
          width: 12px;
          height: 12px;
          border: 8px solid $stroke-accent;
        }
      }
    }
  }
}

/********************
        SELECT
********************/
.drop-down-wrapper {
  label {
    @extend %label-common-style;
  }
}
