
.wizard .wizard-button-wrapper .button[name='next']::before {
  content: "";
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABOSURBVHgB7dLBCQAgCIXhV5O0Spu1gSPaJmYkdAsiD0H9IHj6DiKwmYiQToJHChUZsQvaEcM+OtFgC+O8qpMjbsn1jo9gBpLr7xlaVlgD2/i+xzXXzsEAAAAASUVORK5CYII=);
  order: 1;
  margin-left: 0.5rem;
}

.wizard .wizard-button-wrapper .button[name='back']::before,
.wizard .wizard-button-wrapper .button[name='next']::before {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
