@use '../../../../styles/settings' as *;
@use '../../../../styles/components/suggestions' as *;

.search-box {
  position: relative;

  .field-description {
    p {
      padding-bottom: 0;
      font-weight: $font-weight-regular;
      line-height: 133%;
      color: $text-dark-primary;
      margin-bottom: $spacing-200;

      @include media('desktop') {
        font-size: $size-font-body-default;
      }
    }
  }
}

.search-box__input {
  position: relative;

  input[type='text'] {
    width: 100%;
    padding-right: $spacing-700;
  }

  &::after {
    content: url('../../../../icons/search.svg');
    display: block;
    width: $spacing-500;
    height: $spacing-500;
    position: absolute;
    right: $spacing-400;
    top: 50%;
    transform: translateY(-50%);
  }

  .suggestions {
    @extend %suggestions;
  }

  .suggestion {
    @extend %suggestion;
  }
}

.selected-cards-heading {
  font-size: $size-font-button-small;
  line-height: 120%;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-400;
  color: $text-dark-primary;

  @include media('desktop') {
    font-size: $size-font-body-large;
    margin-bottom: $spacing-200;
  }
}

.recommendations-cards-wrapper {
  margin-top: $spacing-600;
}

.selected-cards {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-200;
}

.selected-cards-wrapper:has(.selected-card--is-selected) {
  margin: $spacing-400 0 0 0; //SEPD-5540 checkbox-spacing
}

.selected-cards,
.recommendations-cards {
  &:empty::after {
    content: attr(data-empty-selection-message);
  }
}

.recommendations-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 9px; // strange size?
  margin-bottom: $spacing-600;
}

.selected-card {
  display: flex;
  align-items: center;
  background-color: $color-white;
  border-radius: $border-radius-round;
  padding: $spacing-200 $spacing-300 $spacing-200 $spacing-450;
  font-size: 15px; //strange size?
  line-height: 160%;
  color: $text-secondary;
  border: 1px solid $stroke-tertiary;
  cursor: pointer;

  &:hover {
    background-color: $color-shade-blue-10;
    border-color: $stroke-secondary;
    color: $text-dark-primary;
  }

  @include media('desktop') {
    font-size: $size-font-body-default;
  }

  &::after {
    content: '';
    display: block;
    background-image: url('../../../../icons/icon-plus.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: $spacing-400;
    height: $spacing-400;
    margin-left: $spacing-200;
  }

  .selected-card__button-remove {
    background-image: url('../../../../icons/icon-x.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
    margin-left: $spacing-200;
    cursor: pointer;
    display: block;
    width: $spacing-400;
    height: $spacing-400;

    &:active,
    &:hover {
      background-color: transparent;
      background-image: url('../../../../icons/icon-x.svg');
    }

    &:focus {
      box-shadow: none;
    }

    // For screen reader
    span {
      @extend %visually-hidden;
    }

    &::after {
      display: none;
    }
  }
}

.selected-card--is-selected {
  background-color: $bg-dark;
  color: $color-white;
  border: 1px solid $stroke-dark;

  &:hover {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
  }

  &::after {
    display: none;
  }
}
