@use '../../../../styles/settings' as *;
@use '../../../../styles/components/suggestions' as *;

.search-box {
  position: relative;
}

// This is to combat badly class name being added to mixin
#search-box__input {
  input[type='text'] {
    padding-right: 48px;
  }
}

.search-box__input {
  position: relative;

  input[type='text'] {
    width: 100%;
  }

  &::after {
    content: url('../../../../icons/search.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .suggestions {
    @extend %suggestions;
  }

  .suggestion {
    @extend %suggestion;
  }
}

.selected-cards-heading {
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: $spacing-400;
  color: $text-dark-primary;

  @include media('desktop') {
    font-size: 20px;
  }
}

.selected-cards-wrapper,
.recommendations-cards-wrapper {
  margin-top: 1rem;
}

.selected-cards,
.recommendations-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  margin-bottom: 32px;

  &:empty::after {
    content: attr(data-empty-selection-message);
  }
}

.selected-card {
  display: flex;
  align-items: center;
  background-color: $color-white;
  border-radius: $border-radius-round;
  padding: $spacing-200 $spacing-300 $spacing-200 $spacing-450;
  font-size: 15px;
  line-height: 160%;
  color: $text-secondary;
  border: 1px solid $stroke-tertiary;
  cursor: pointer;

  &:hover {
    background-color: $color-shade-blue-10;
    border-color: $stroke-secondary;
    color: $text-dark-primary;
  }

  @include media('desktop') {
    font-size: 17px;
  }

  &::after {
    content: '';
    display: block;
    background-image: url('../../../../icons/icon-plus.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  .selected-card__button-remove {
    background-image: url('../../../../icons/icon-x.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
    margin-left: 8px;
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;

    &:active,
    &:hover {
      background-color: transparent;
      background-image: url('../../../../icons/icon-x.svg');
    }

    &:focus {
      box-shadow: none;
    }

    // For screen reader
    span {
      @extend %visually-hidden;
    }

    &::after {
      display: none;
    }
  }
}

.selected-card--is-selected {
  background-color: $bg-dark;
  color: $color-white;
  border: 1px solid $stroke-dark;

  &:hover {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
  }

  &::after {
    display: none;
  }
}
