@use '../settings/colors' as *;
@use '../settings/mixins' as *;
@use '../settings/fonts' as *;
@use '../settings/spacings' as *;
@use '../base/forms' as *;
@use '../settings' as *;


/******************************
   Base Form Elements
*******************************/
label,
input[type='text'],
input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

fieldset {
  border: 0;
}

/******************************
   Wrapper Styles
*******************************/
.text-wrapper,
.number-wrapper,
.email-wrapper {
  display: flex;
  flex-direction: column;

  label,
  .field-label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: $spacing-100;
    color: $text-secondary;
    font-family: $font-family;
  }
}

/******************************
   Input Fields
*******************************/
input[type='text'],
input[type='number'],
input[type='email'],
textarea {
  @extend %input-base;
}

textarea {
  width: 100%;
  display: block;
  margin-bottom: $spacing-600;
}

/******************************
   Error State
*******************************/
.field-wrapper.field-invalid input,
.field-wrapper.field-invalid textarea,
.field-wrapper.field-invalid input[type='email'],
.field-wrapper.field-invalid input[type='number'] {
  @include input-error;
}

/******************************
   Employment Type Radio Buttons
*******************************/
.radio-wrapper {
  /* display: flex;
 * flex-direction: column;
   gap: $spacing-200;*/

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $stroke-input-stroke solid $stroke-tertiary;
    border-radius: $border-radius-mid;
    background-color: $bg-light-primary;
    padding: $spacing-400;
    font-size: 20px;
    font-weight: 500;
    color: $text-primary;
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s;
    position: relative;
  }

  input[type='radio'] {
   /* appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 2px solid $stroke-tertiary;
    background-color: $bg-light-primary;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-left: auto;*/
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;

    &:checked {
      background-color: $color-accent;
      border-color: $stroke-accent;
      box-shadow: 0 0 0 2px $bg-light-primary inset;
    }

    &:focus-visible {
      outline: 2px solid $stroke-accent;
    }

    &:disabled {
      border-color: $color-grey-black-20;
      background-color: $color-grey-black-05;
      cursor: not-allowed;
    }
  }

  label:has(input:checked) {
    border-color: $stroke-accent;
    background-color: $color-shade-blue-10;
  }
}
