@use '../settings/colors' as *;
@use '../settings/fonts' as *;
@use '../settings/spacings' as *;

// Base label styling including fieldsets and legends used as labels
.form label:not(.radio-group--with-icon__label),
.form legend.field-label,
.form fieldset.checkbox-group-wrapper legend,
.form fieldset.radio-group-wrapper legend {
  font-family: $font-family;
  font-size: $size-font-label;
  color: $text-primary;
  font-style: normal;
  font-weight: $font-weight-medium;
  line-height: 133%;
  letter-spacing: $letter-spacing-default;
  margin-bottom: 0;
  margin-top: $spacing-300;
}

// Add required asterisk
.form [data-required='true'] > label::after,
.form label.required::after {
  content: '*';
  color: var(--form-error-color);
  padding-inline-start: 5px;
}

// Don't add asterisk after radio/checkbox labels
.form .radio-wrapper > label::after,
.form .checkbox-wrapper > label::after {
  content: none;
}
