@use '../settings' as *;

@mixin select-chevron {
  content: '';
  position: absolute;
  top: 55%;
  right: $spacing-400;
  width: $spacing-500;
  height: $spacing-500;
  background-image: url('/icons/icon-chevron-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.field-completion-status .radio-wrapper label .text {
  font-size: $size-font-body-large;
  font-weight: 400;
}

@mixin base-select-style {
  cursor: pointer;
  border-radius: $border-radius-mid;
  border: 2px solid $stroke-tertiary;
  padding: $spacing-400;
  font-size: $size-font-body-large;
  line-height: 133%;
  appearance: none;
  width: 100%;
  height: $spacing-800;
  background-color: $color-white;
  color: $text-secondary;

  &:focus-visible,
  &:focus,
  &:active,
  &:hover {
    border-color: $stroke-accent;
    outline: none;
  }

  option {
    cursor: pointer;
    padding: $spacing-200;
    color: $text-secondary;

    &:hover {
      color: $text-primary;
      background-color: $color-shade-blue-10;
      border-radius: $border-radius-low;
    }

    &:focus,
    &:focus-visible {
      @extend %state-focus;
      border-radius: $border-radius-low;
    }

    &[selected] {
      background-color: $color-white;
      color: $text-accent;
    }
  }
}

.drop-down-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  label {
    @extend %label-common-style;
  }

  select {
    @include base-select-style;
    position: relative;
  }

  &::after {
    @include select-chevron;
  }
}

select[required] {
  @include base-select-style;
  position: relative;
}

select[required]::after {
  @include select-chevron;
}
