@use '../../../../styles/settings' as *;
@use '../../../../styles/components/suggestions' as *;

.typeahead {
  margin-top: $spacing-600;

  .typeahead__input {
    position: relative;

    input[type='text'] {
      padding-right: 48px; // Extra padding so text not overlapping with icon
      width: 100%;
    }

    &::after {
      content: url('../../../../icons/icon-search.svg');
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    .suggestions {
      @extend %suggestions;
    }

    .suggestion {
      @extend %suggestion;
    }
  }
}
