@use '../../../../styles/settings' as *;
@use '../../../../styles/components/suggestions' as *;

.typeahead__input {
  position: relative;

  input[type='text'] {
    padding-right: 48px; // Extra padding so text not overlapping with icon
    width: 100%;
  }

  &::after {
    content: url('../../../../icons/icon-search.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .suggestions {
    @extend %suggestions;
  }

  .suggestion {
    @extend %suggestion;
  }
}

/*****************************
    REPEAT ACTIONS BUTTON (Hollow Style)
*****************************/
.repeat-actions .item-add {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-Spacing-200, 8px);
  font-family: var(--Typography-Font-family-Primary-font, 'Atkinson Hyperlegible Next');
  font-size: var(--Typography-Sizes-Components-Button-default, 20px);
  font-style: normal;
  line-height: 24px;
  letter-spacing: var(--Typography-Spacing-Character-Default, 0px);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: var(--Corner-radius-Round, 999px);
  border: var(--Stroke-weight-Button-stroke, 2px) solid var(--Stroke-Tertiary, #A1B3C8);
  background: var(--Background-Light-Primary, #FFF);
  color: var(--Text-Dark-Primary, #333);
  padding: var(--Spacing-Spacing-300, 12px) var(--Spacing-Spacing-450, 20px);

  box-shadow: var(--Elevation-Position-X-Level-1, 0px)
  var(--Elevation-Position-Y-Level-1, 2px)
  var(--Elevation-Blur-Level-1, 4px)
  var(--Elevation-Spread-Level-1, 0px) rgba(22, 44, 69, 0.20);

  &:hover {
    border-color: var(--Stroke-Primary, #333);
    background: var(--Background-Light-Primary, #fff);
    color: var(--Stroke-Primary, #333);
  }

  &:active {
    border-color: var(--Stroke-Accent, #017ac9);
    background: var(--Background-Light-Primary, #fff);
    color: var(--Stroke-Accent, #017ac9);
    transform: scale(0.98);
  }

  &:focus {
    background: var(--Background-Light-Primary, #fff);
    box-shadow: 0px 0px 0px 2px #fff,
    0px 0px 0px 4px var(--Stroke-Focus, #b53cde);
  }
}
