@use '../../../../styles/settings' as *;

.typeahead {
  position: relative;

  &::after {
    content: url('../../../../icons/search.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  input[type='text'] {
    padding-right: 48px; // Extra padding so text not overlapping with icon
  }

  .suggestions {
    @include elevation-2;
    border-radius: $border-radius-mid;
    background-color: $color-white;
    max-height: 9.375rem;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 90px;
    left: 0;
  }

  .suggestion {
    padding: $spacing-200 $spacing-300;
    cursor: pointer;
    font-size: 20px;
    color: $stroke-secondary;

    &:hover {
      color: $text-primary;
      background-color: $color-shade-blue-10;
    }
  }
}
