@use '../../../../styles/settings' as *;

.form .panel-repeatable-panel .advanceddatepicker {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-400;

  .field-description {
    display: none;
    flex-basis: 100%;
  }

  &.field-invalid {
    .field-description {
      display: block;
    }
  }

  >legend {
    @include font-body-large;
  }

  &[data-required='true']>legend::after {
    content: '*';
    color: $color-feedback-red;
    padding-inline-start: 0.3125rem;
  }

  >.drop-down-wrapper {
    flex: 1 1 0%;
  }

  .field-wrapper:not([data-visible='false']) {

    // Added specificity to override
    // Clash class from repeatable panel
    +.field-wrapper.drop-down-wrapper {
      margin-top: 0;
    }
  }
}