@use '../../../../styles/settings' as *;

/* Tabs styling */

main .form:not(.edit-mode) {
  fieldset.formtabs {
    padding: 0;
    margin-bottom: 32px;

    legend {
      display: none;
    }

    > fieldset.formtab {
      margin: 0;
      display: none;
    }

    > .navitems {
      padding: 0;
      margin: 0;
      display: flex;
      height: $spacing-700;
      list-style: none;
    }

    > .navitems > li {
      padding: 0 $spacing-400;
      margin: 0;
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      border: 1px solid $stroke-tertiary;
      background: $bg-primary;
      border-radius: $border-radius-mid $border-radius-mid 0 0;
      color: $text-secondary;
      font-family: $font-family;
      font-size: $size-font-label;
      font-style: normal;
      font-weight: $font-weight-medium;
      line-height: 133%;
      letter-spacing: $letter-spacing-default;
      transition: all 0.2s ease;

      &:not(:last-child) {
        margin-right: $spacing-200;
      }
    }

    > .navitems > li.navitem-current {
      background: $color-gradient-blue;
      border: 1px solid $color-shade-blue-25;
      border-bottom: none;
      border-top-left-radius: $border-radius-mid;
      border-top-right-radius: $border-radius-mid;
      font-weight: $font-weight-bold;
      color: $text-primary;
    }

    > fieldset.formtab.formtab-current {
      display: block;
      background: $color-shade-blue-10;
      border: 1px solid $color-shade-blue-25;
      border-top: none;
      border-radius: 0 $border-radius-mid $border-radius-mid $border-radius-mid;
      padding: $spacing-500 $spacing-400;
    }
  }
}

main .form.edit-mode {
  fieldset.formtabs > .navitems {
    display: none;
  }
}

/* Textarea styling */
.multiline-wrapper textarea {
  font-family: $font-family;
}

/* Typography token fallback */
$size-font-label: var(--Typography-Sizes-Components-Label, 18px);
