/* Tabs styling */
main .form:not(.edit-mode) fieldset.formtabs legend {
    display: none;
}

main .form:not(.edit-mode) fieldset.formtabs>fieldset.formtab {
    display: none;
}

main .form.edit-mode fieldset.formtabs>.navitems {
    display: none;
}

main .form:not(.edit-mode) fieldset.formtabs>.navitems {
    display: block;
}

main .form:not(.edit-mode) fieldset.formtabs>.navitems>li {
    background-color: aqua;
}

main .form:not(.edit-mode) fieldset.formtabs>.navitems>li.navitem-current {
    background-color: blue;
}


main .form:not(.edit-mode) fieldset.formtabs>fieldset.formtab.formtab-current {
    display: block;
}