:root {
  --Spacing-Spacing-200: 8px;
  --Spacing-Spacing-300: 12px;
  --Spacing-Spacing-400: 16px;
  --Spacing-Spacing-500: 24px;
  --Spacing-Spacing-600: 32px;

  --Corner-radius-Round: 999px;

  --Stroke-weight-Button-stroke: 2px;
  --Stroke-Secondary: #999;
  --Stroke-Primary: #333;
  --Stroke-Accent: #017AC9;

  --Background-Light-Primary: #FFF;

  --font-base: "Atkinson Hyperlegible Next", sans-serif;
}
